<div class="container">
  <div class="section">
    <h1 class="mb-4">Editing category</h1>

    <%= render "form", category: @category %>

    <div>
      <%= link_to "Back to categories", root_path, class:"button button--subtle" %>
    </div>
  </div>
</div>
